body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: black;
}
.app{
  display: flex;
}

.info-panel{
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.background-image {
  background-image: url('../images/doggerStart.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 80vw;
  height: 100vh;
}

.start-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  margin-right: 15vw;
  
}

.center-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.start-button {
  margin: 2vh;
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(129, 67, 1);
  color: rgb(255, 213, 0);
  transition: transform 0.3s ease-in-out;
}

.start-button:hover {
  transform: scale(1.1);
}

.instructions {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: rgb(129, 67, 1);
  color: rgb(255, 213, 0);
  margin-top: 5vh;
  padding: 1vh;
  margin-left: 20%;
  text-align: center;
  margin-top: 35vh;
  max-width: 39vw;
}

/* .main {
  padding: 2vh;
} */

.highScore {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
  color: white;
}

/* .highScore + .highScore {
  margin-top: 4px;
  color: white;
} */

.highScore > * + * {
  margin-left: 4px;
  color: white;
}

h1{
  color: white;
}

.userInfo{
  color: white;
}

#phaser-game {
  width: 100%; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  margin-top: 20px; /* Add spacing between React components and Phaser game */
}